
.CurrencyBox{
    border-radius: 15px;
    height: 300px;
    width: 700px;
    border: 1px solid darkgray;
    padding: 50px;
    margin: auto;

}
.Name{
    font-weight: bold;
    margin: auto;
    font-size: 30px;

}
