.App {
  font-family: "Garamond";
  display: grid;
  grid-template-rows: 60px 1fr;

  grid-gap: 50px;
  grid-template-areas:
  "h"
   "n";
}
.Header{
  padding-top: 15px;
  grid-area:h;
  background-color:rgb(50,50,50);
  color:white;
}
.MainArea{
  grid-area:n;
  background-color:white;
}

